/* ---------
	Colors
-------------- */

$color-hover-text-link-purple: 	#553ea8;
$color-favicon: 				#725bc2;
$color-border-purple: 			#8e7dcf;
$color-main-font-color: 		#2c3e50;
$color-text-link-footer-gray:	#3a4353;
$color-menu-nave-font: 			#374151;
$color-placeholder: 			#9ca3af;
$color-border-gray: 			#dedaf1;
$color-hover-background-purple: #dedaf1;
$color-main-background-gray:	#f3f4f6;
